In [1]:
import pandas as pd

In [2]:
df17 = pd.read_csv('df17.csv')
df18 = pd.read_csv('df18.csv')
df19 = pd.read_csv('df19.csv')
df20 = pd.read_csv('df20.csv')

In [3]:
df17['year'] = 2017
df18['year'] = 2018
df19['year'] = 2019
df20['year'] = 2020

In [4]:
df17.head()

,Unnamed: 0,student_id,priority,mark,status,kvota,year,specialty,university,placesCount,...,contractCount,vstup,budget_mark_mean,mark_mean,abit_count,mark_max,mark_min,budget_mark_max,budget_mark_min,position
0,0,1,1,200.0,До наказу (бюджет),NaN,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,True,184.054083,175.373299,214,200.0,136.249,200.0,164.888,1
1,1,2,1,200.0,До наказу (бюджет),NaN,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,True,184.054083,175.373299,214,200.0,136.249,200.0,164.888,2
2,2,3,3,200.0,Допущено,NaN,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,False,184.054083,175.373299,214,200.0,136.249,200.0,164.888,3
3,3,4,1,200.0,До наказу (бюджет),NaN,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,True,184.054083,175.373299,214,200.0,136.249,200.0,164.888,4
4,4,5,3,200.0,Допущено,NaN,2017,Хімія,Харківський національний університет імені В.Н...,100,...,49,False,184.054083,175.373299,214,200.0,136.249,200.0,164.888,5

In [6]:
df17.columns

Index(['Unnamed: 0', 'student_id', 'priority', 'mark', 'status', 'kvota',
       'year', 'specialty', 'university', 'placesCount', 'budgetCount',
       'contractCount', 'vstup', 'budget_mark_mean', 'mark_mean', 'abit_count',
       'mark_max', 'mark_min', 'budget_mark_max', 'budget_mark_min',
       'position'],
      dtype='object')

In [10]:
df17.university.nunique()

5

In [11]:
df17.specialty.nunique()

68

In [12]:
df18.university.nunique()

5

In [13]:
df18.specialty.nunique()

76

In [16]:
df17.specialty.unique()

array(['Хімія', 'Фінанси,банківськасправатастрахування', 'Філософія',
       'Філологія', 'Фізикатаастрономія', 'Туризм', 'Соціологія',
       'Соціальнаробота', 'Підприємництво,торгівлятабіржовадіяльність',
       'Психологія', 'Прикладнафізикатананоматеріали',
       'Прикладнаматематика', 'Право', 'Облікіоподаткування',
       'НаукипроЗемлю', 'Мікро', 'Міжнародніекономічнівідносини',
       'Міжнароднівідносини,суспільнікомунікаціїтарегіональністудії',
       'Міжнароднеправо', 'Менеджмент', 'Математика', 'Маркетинг',
       'Кібербезпека', 'Комп’ютернаінженерія', "Комп'ютернінауки",
       'Економіка', 'Екологія', 'Готельно', 'Географія',
       'Біотехнологіїтабіоінженерія', 'Біологія',
       'Автоматизаціятакомп’ютерно', 'Історіятаархеологія',
       'Фізичнатерапія,ерготерапія',
       'Технологіїзахистунавколишньогосередовища', 'Теплоенергетика',
       'Телекомунікаціїтарадіотехніка',
       'Публічнеуправліннятаадміністрування', 'Прикладнамеханіка',
       'Менеджментсоціокультурноїдіяльності', 'Матеріалознавство',
       'Енергетичнемашинобудування', 'Електроніка',
       'Електроенергетика,електротехнікатаелектромеханіка',
       'Галузевемашинобудування', 'Хімічнітехнологіїтаінженерія',
       'Харчовітехнології', 'Фармація,промисловафармація',
       'Транспортнітехнології', 'Соціальнезабезпечення',
       'Системнийаналіз', 'Музеєзнавство,пам’яткознавство',
       'Метрологіятаінформаційно', 'Металургія', 'Геодезіятаземлеустрій',
       'Видавництвотаполіграфія', 'Біомедичнаінженерія',
       'Будівництвотацивільнаінженерія', 'Атомнаенергетика', 'Авіоніка',
       'Автомобільнийтранспорт', 'Інформаційнісистемитатехнології',
       'Інформаційна,бібліотечнатаархівнасправа',
       'Інженеріяпрограмногозабезпечення', 'Авіаційнатаракетно',
       'Статистика', 'Політологія', 'Культурологія'], dtype=object)

In [17]:
df18.specialty.unique()

array(['292Міжнародніекономічнівідносини',
       '291Міжнароднівідносини,суспільнікомунікаціїтарегіональністудії',
       '281Публічнеуправліннятаадміністрування', '242Туризм',
       '241Готельно', '231Соціальнаробота',
       '162Біотехнологіїтабіоінженерія', '153Мікро',
       '151Автоматизаціятакомп’ютерно', '125Кібербезпека',
       '123Комп’ютернаінженерія', "122Комп'ютернінауки",
       '113Прикладнаматематика', '111Математика', '106Географія',
       '105Прикладнафізикатананоматеріали', '104Фізикатаастрономія',
       '103НаукипроЗемлю', '102Хімія', '101Екологія', '091Біологія',
       '081Право', '076Підприємництво,торгівлятабіржовадіяльність',
       '075Маркетинг', '073Менеджмент',
       '072Фінанси,банківськасправатастрахування',
       '071Облікіоподаткування', '061Журналістика', '054Соціологія',
       '053Психологія', '051Економіка', '035Філологія',
       '034Культурологія', '033Філософія', '032Історіятаархеологія',
       '227Фізичнатерапія,ерготерапія',
       '183Технологіїзахистунавколишньогосередовища',
       '172Телекомунікаціїтарадіотехніка', '171Електроніка',
       '144Теплоенергетика', '142Енергетичнемашинобудування',
       '141Електроенергетика,електротехнікатаелектромеханіка',
       '133Галузевемашинобудування', '132Матеріалознавство',
       '131Прикладнамеханіка', '275Транспортнітехнології',
       '274Автомобільнийтранспорт', '263Цивільнабезпека',
       '261Пожежнабезпека', '232Соціальнезабезпечення',
       '226Фармація,промисловафармація',
       '194Гідротехнічнебудівництво,воднаінженеріятаводнітехнології',
       '193Геодезіятаземлеустрій', '192Будівництвотацивільнаінженерія',
       '186Видавництвотаполіграфія', '181Харчовітехнології',
       '173Авіоніка', '152Метрологіятаінформаційно',
       '126Інформаційнісистемитатехнології', '124Системнийаналіз',
       '121Інженеріяпрограмногозабезпечення',
       '029Інформаційна,бібліотечнатаархівнасправа',
       '027Музеєзнавство,пам’яткознавство', '015Професійнаосвіта',
       '184Гірництво', '163Біомедичнаінженерія',
       '161Хімічнітехнологіїтаінженерія', '143Атомнаенергетика',
       '136Металургія', '134Авіаційнатаракетно', '293Міжнароднеправо',
       '112Статистика', '052Політологія', '014Середняосвіта',
       '013Початковаосвіта', '012Дошкільнаосвіта'], dtype=object)

In [21]:
import re

In [22]:
re.sub(r'\d', '', '123fdsa')

'fdsa'

In [24]:
df18['specialty'] = df18.specialty.apply(lambda x : re.sub(r'\d', '', x))
df19['specialty'] = df19.specialty.apply(lambda x : re.sub(r'\d', '', x))
df20['specialty'] = df20.specialty.apply(lambda x : re.sub(r'\d', '', x))

In [28]:
common_specialties = list(set(df17.specialty.unique()) & set(df18.specialty.unique()) & set(df19.specialty.unique()) & set(df20.specialty.unique()))

In [31]:
df17 = df17[df17.specialty.apply(lambda x : x in common_specialties)]
df18 = df18[df18.specialty.apply(lambda x : x in common_specialties)]
df19 = df19[df19.specialty.apply(lambda x : x in common_specialties)]
df20 = df20[df20.specialty.apply(lambda x : x in common_specialties)]

In [43]:
df17.columns

Index(['Unnamed: 0', 'student_id', 'priority', 'mark', 'status', 'kvota',
       'year', 'specialty', 'university', 'placesCount', 'budgetCount',
       'contractCount', 'vstup', 'budget_mark_mean', 'mark_mean', 'abit_count',
       'mark_max', 'mark_min', 'budget_mark_max', 'budget_mark_min',
       'position'],
      dtype='object')

In [47]:
df17_grouped = df17.groupby(['specialty', 'university'], as_index = False)[['budget_mark_mean', 'mark_mean', 'abit_count',
       'mark_max', 'mark_min', 'budget_mark_max', 'budget_mark_min']].mean()
df18_grouped = df18.groupby(['specialty', 'university'], as_index = False)[['budget_mark_mean', 'mark_mean', 'abit_count',
       'mark_max', 'mark_min', 'budget_mark_max', 'budget_mark_min']].mean()
df19_grouped = df19.groupby(['specialty', 'university'], as_index = False)[['budget_mark_mean', 'mark_mean', 'abit_count',
       'mark_max', 'mark_min', 'budget_mark_max', 'budget_mark_min']].mean()

In [51]:
len(df18)

97069

In [55]:
df18_prepared = df18.set_index(['specialty', 'university']).join(df17_grouped.set_index(['specialty', 'university']), how = 'inner', lsuffix = '_current', rsuffix ='_previous').reset_index()
df19_prepared = df19.set_index(['specialty', 'university']).join(df18_grouped.set_index(['specialty', 'university']), how = 'inner', lsuffix = '_current', rsuffix ='_previous').reset_index()
df20_prepared = df20.set_index(['specialty', 'university']).join(df19_grouped.set_index(['specialty', 'university']), how = 'inner', lsuffix = '_current', rsuffix ='_previous').reset_index()

In [56]:
df18_prepared.head()

,specialty,university,Unnamed: 0,student_id,priority,mark,status,kvota,year,placesCount,...,budget_mark_max_current,budget_mark_min_current,position,budget_mark_mean_previous,mark_mean_previous,abit_count_previous,mark_max_previous,mark_min_previous,budget_mark_max_previous,budget_mark_min_previous
0,Інженеріяпрограмногозабезпечення,Національний технічний університет України «Ки...,59660,5,1,200.0,До наказу (бюджет),NaN,2018,257,...,200.0,115.35,1,191.97133,173.384867,2072.000935,200.0,118.687881,198.551103,161.365869
1,Інженеріяпрограмногозабезпечення,Національний технічний університет України «Ки...,59661,6,1,200.0,До наказу (бюджет),NaN,2018,257,...,200.0,115.35,2,191.97133,173.384867,2072.000935,200.0,118.687881,198.551103,161.365869
2,Інженеріяпрограмногозабезпечення,Національний технічний університет України «Ки...,59662,7,1,200.0,До наказу (бюджет),NaN,2018,257,...,200.0,115.35,3,191.97133,173.384867,2072.000935,200.0,118.687881,198.551103,161.365869
3,Інженеріяпрограмногозабезпечення,Національний технічний університет України «Ки...,59663,8,1,200.0,До наказу (бюджет),NaN,2018,257,...,200.0,115.35,4,191.97133,173.384867,2072.000935,200.0,118.687881,198.551103,161.365869
4,Інженеріяпрограмногозабезпечення,Національний технічний університет України «Ки...,59664,9,1,200.0,До наказу (бюджет),NaN,2018,257,...,200.0,115.35,5,191.97133,173.384867,2072.000935,200.0,118.687881,198.551103,161.365869

In [57]:
df18_prepared.columns

Index(['specialty', 'university', 'Unnamed: 0', 'student_id', 'priority',
       'mark', 'status', 'kvota', 'year', 'placesCount', 'budgetCount',
       'contractCount', 'vstup', 'budget_mark_mean_current',
       'mark_mean_current', 'abit_count_current', 'mark_max_current',
       'mark_min_current', 'budget_mark_max_current',
       'budget_mark_min_current', 'position', 'budget_mark_mean_previous',
       'mark_mean_previous', 'abit_count_previous', 'mark_max_previous',
       'mark_min_previous', 'budget_mark_max_previous',
       'budget_mark_min_previous'],
      dtype='object')

In [59]:
df18_prepared = df18_prepared[['specialty', 'university','priority',
       'mark', 'kvota','placesCount', 'budgetCount',
       'contractCount', 'vstup', 'budget_mark_mean_previous',
       'mark_mean_previous', 'abit_count_previous', 'mark_max_previous',
       'mark_min_previous', 'budget_mark_max_previous']]
df19_prepared = df19_prepared[['specialty', 'university','priority',
       'mark', 'kvota','placesCount', 'budgetCount',
       'contractCount', 'vstup', 'budget_mark_mean_previous',
       'mark_mean_previous', 'abit_count_previous', 'mark_max_previous',
       'mark_min_previous', 'budget_mark_max_previous']]
df20_prepared = df20_prepared[['specialty', 'university','priority',
       'mark', 'kvota','placesCount', 'budgetCount',
       'contractCount', 'vstup', 'budget_mark_mean_previous',
       'mark_mean_previous', 'abit_count_previous', 'mark_max_previous',
       'mark_min_previous', 'budget_mark_max_previous']]

In [62]:
df18_prepared.to_csv('df18_preprocess.csv', index = False)
df19_prepared.to_csv('df19_preprocess.csv', index = False)
df20_prepared.to_csv('df20_preprocess.csv', index = False)